---
---

@import "{{ site.theme }}";

.page-header {
      background-image: url(https://www.cos.io/hubfs/Banners/2023/hero23%20default.jpg) no-repeat center center;
}

.page-header h1 {
    color: #ffffff;
    font-weight: 100;
    line-height: 1.2;
}

#content h1 {
 color: #1532eb;
}

h3,
h3 a {
  color: #15A5EB;
}

a {
  background: #FFD100;
  color: #1532EB;
}
